* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
:root {
    --navbar-default-bg-color: rgb(53, 53, 53);
    --navbar-default-font-color: white;
    --navbar-hover-font-color: rgb(218, 174, 80);
    --main-font-terminal: 'VT323', 'Press+Start+2P', 'Courier New', serif;
    --desc-default-font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    --navbar-li-bg-color: rgb(116, 55, 26,.75);
    --navbar-hover-li-bg-color: rgb(180, 89, 47);
}
.nav-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-family: var(--main-font-terminal);
    color: var(--navbar-default-font-color);
}
.fa {
    padding-right: 6px;
}
body {
    background: url(./img/office.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
header {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 10
}
.about-me-header {
    color: var(--navbar-default-font-color);
    font-family: var(--main-font-terminal);
    font-size: 3.5rem;
    display: flex;
    justify-content: center;
    padding-bottom: 70px;
}
.desc-header {
    font-size: 2.7rem;
    color: var(--navbar-default-font-color);
    font-family: var(--main-font-terminal);
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
    text-align: center;
}
.desc-para {
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    padding-bottom: 1.5rem;
    color: var(--navbar-default-font-color);
    font-family: var(--desc-default-font);
    text-align: center;
}
.about-me-main-container {
    display: flex;
    background-color: var(--navbar-li-bg-color);
    padding-top: 20px;
}
.about-me-desc-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    padding-left: 50px;
    padding-right: 50px;
}
.about-me-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.office-space {
    height: 100%;
    width: 100%;
}
.nav-container {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    padding: 0px 100px;
    width: auto;
}
ul {
    list-style: none;
}
#nav-list {
    display: flex;
}
a {
    display: inline-block;
    text-decoration: none;
}
.nav-btn {
    color: var(--navbar-default-font-color);
    background: none;
    font-size: 1.3rem;
    border: none;
    padding: 24px 2rem;
}
.nav-btn:hover {
    color: var(--navbar-default-font-color);
    cursor: pointer;
}
.nav-btn::after {
    content: '';
    display: block;
    width: 0;
    height: 5px;
    background: var(--navbar-hover-font-color);
    transition: width .5s;
}
.nav-btn:hover::after {
    width: 100%;
}
.hello-container {
    display: inline-block;
}
.intro-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hello-para {
    margin-bottom: 50px;
    font-size: 3rem;
    font-family: var(--main-font-terminal);
    padding-right: 10px;
    border-right: 5px solid;
    letter-spacing: 2px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: typeIn 3s steps(25),
    cursor .4s step-end infinite alternate;
}
.occup-para {
    font-size: 3rem;
    font-family: var(--main-font-terminal);
    letter-spacing: 2px;
}
.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: var(--navbar-default-font-color);
}
.about-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.toggle-button {
    position: absolute;
    top: 1rem;
    left: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}
@keyframes cursor {
    50% {
        border-color: transparent;
    }
}
@keyframes typeIn {
    0% {
        width: 0;
    }
}
@media (max-width: 1000px) {
    .hello-para {
        font-size: 1.5rem;
    }
    .occup-para {
        font-size: 1.5rem;
    }
    .toggle-button {
        display: flex;
    }
    .navigation {
        display: none;
        width: 100%;
    }
    .navigation li:hover {
        background-color: var(--navbar-hover-li-bg-color)
    }
    .nav-container {
        flex-direction: column;
        background-color: var(--navbar-li-bg-color);
        padding: 0;
    }
    .navigation #nav-list {
        width: 100%;
        flex-direction: column;
    }
    .navigation li {
        text-align: center;
    }
    .navigation li .nav-btn {
        padding: .5rem 1rem;
    }
    .navigation.active {
        display: flex;
    }
    .nav-btn i {
        display: none;
    }
    .nav-logo {
        font-size: 1.5rem;
        padding: 15px 0px;
    }
    .about-me-desc-container {
        padding: 0px;
        width: 100%;
    }
    .about-me-main-container {
        flex-direction: column;
    }
    .about-me-img-container {
        padding: 20px;
    }
    .desc-para {
        padding: 5px;
    }
}
@media (max-width: 1000px) and (min-width: 601px){
    .about-me-img-container {
        padding: 70px;
    }
}